/Examples/HCSR04_Example/Export.h
/Examples/HCSR04_Example/HCSR04.cpp
/Examples/HCSR04_Example/HCSR04.h
/Examples/HCSR04_Example/IDistance.h
/Examples/HCSR04_Example/*.suo
/Examples/HCSR04_Example/Visual Micro/Configuration.Release.vmps.xml
/Examples/HCSR04_Example/Visual Micro/Compile.vmps.xml
/Examples/HCSR04_Example/HCSR04_Example.sdf
/Examples/HCSR04_Example/HCSR04_Example.opensdf
/Examples/HCSR04_Example/Visual Micro/.HCSR04_Example.vsarduino.h
/Examples/HCSR04_Example/HCSR04_Example.vcxproj.filters
